{% extends 'base.html'%}
{% load static %}
{%block head%}
<!--<link rel="stylesheet" href="{% static 'css/main.css' %}"/>-->
{%endblock head%}
{% block body%}
</br>

<div class="container">
	<div class="row clearfix">
		<form action="">
		<div class="col-md-8 column">
			<form role="form">
				<div class="form-group">
					<textarea class="form-control" rows="26"></textarea>
				</div>
				<button type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>
		</form>
<!--		手风琴-->
		<iframe src="" frameborder="0"></iframe>
		<div class="col-md-2 column">
			<div class="panel-group" id="panel-744138">
				<div class="panel panel-default">
					<div class="panel-heading">
						 <a class="panel-title" data-toggle="collapse" data-parent="#panel-744138" href="#panel-element-696613">Collapsible Group Item #1</a>
					</div>
					<div id="panel-element-696613" class="panel-collapse in">
						<div class="panel-body">
							Anim pariatur cliche...
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-744138" href="#panel-element-794376">Collapsible Group Item #2</a>
					</div>
					<div id="panel-element-794376" class="panel-collapse collapse">
						<div class="panel-body">
							Anim pariatur cliche...
						</div>
					</div>
				</div>
			</div>
		</div>

<!--		下拉-->
		<div class="col-md-2 column">
			<div class="btn-group">
				 <button class="btn btn-default">Action</button> <button data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span class="caret"></span></button>
				<ul class="dropdown-menu">
					<li>
						 <a href="#">操作</a>
					</li>
					<li class="disabled">
						 <a href="#">另一操作</a>
					</li>
					<li class="divider">
					</li>
					<li>
						 <a href="#">其它</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock body%}